#questionSection,
#doneSection,
#highScoresSection {
    display: none;
}

/* Buttons */
.primaryBtn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #361C74;
    color: white;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
}

.primaryBtn:hover {
    background-color: #C068E9;
}

/* Nav Bar */
nav .navbar-brand {
    color: #C068E9;
}

.nav-item {
    font-size: 1.25rem;
}

/* Intro Page */
.intro {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p {
    font-size: 1.1rem;
    margin-top: 15px;
    width: 50%;

}

.intro .primaryBtn {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* Questions */
.question {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question .primaryBtn {
    text-align: left;
    padding-left: 15px;
    width: 200px;
}

.btnOptions button {
    margin: 5px;
}

/* All Done */
.done {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done p {
    font-size: 1.5rem;
}

.contentBox {
    width: 50%;
}

label {
    font-size: 1.5rem;
    margin-right: 5px;
}

form .primaryBtn {
    height: 30px;
    width: 100px;
    margin-left: 5px;
}

/* High Scores */
.highScores {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highScores .primaryBtn {
    width: fit-content;
    padding: 0 10px;
}

.highScores ul {
    padding: 0;
}

.highScores li {
    background-color: rgba(192, 104, 233, 0.3);
    padding: 5px 0 5px 5px;
    list-style: none;
}